
<p >
	<h2 style="text-align: center;">Please input the text that you would like encoded</h2>
	<div style="text-align: center;">
		<% if @message %>
			<p>ERROR <%= @message %></p>
		<% end %>	
	
		<form  action="/result" method="post">
			<input type="text" name="string" placeholder="Text to be encrypted" size="35">
				<p>And the number you would like the code shifted by.</p>	
			<input type="int" name="shift" placeholder="Shift" size="5">
			<input type="submit">
		</form>
	

	</div>

</p>


